---
layout: myarchive
permalink: /blog/
title: 'Blog'

header:
  overlay_image: "static/siteimages/featured img for blog.png"
  overlay_filter: 0.5
---

<div class="myblog-grid-container">
    {% assign posts = site.posts %}
    {% assign enposts = posts | where: "categories", empty %}
    {% for post in enposts %}
    {% if post.header.overlay_image %}
      {% assign image = post.header.overlay_image %}
    {% else %}
      {% capture image %}{{ site.teaser }}{% endcapture %}
    {% endif %}

    <div class="myblog-card" onclick="location.href='{{ post.url | relative_url }}'">
      <div class="myarchive__item-teaser"><img src='{{ image | relative_url }}'></div>
      <h1 class=".myarchive__item-title">{{ post.title | escape }}</h1>
    <p style="font-size: 80%;" class="myarchive__item-excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }} </p>
    </div>   
    {% endfor %}
</div>