.citybg *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .citybg{
    height: 100%;
  }
  .container{
    height: 100%;
    margin: 100px auto;
    max-width: 1920px;
    width: 100%;
  }
  
  @keyframes streetmove{
    from{background-position: 0%;}
    to{background-position: 90000%;}
  }
  
  .street{
    animation: streetmove 5000s infinite linear;
    background: url('https://image.ibb.co/mr9mVy/widestreetroad.jpg') top center repeat-x; 
    background-size: cover;
    height: 370px;
    max-width: 1920px;
    width: 100%;
  }
  
  .road{
    height: 100px;
    position:relative;
    top: -100px;
    width:100%;
  }
  .car{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    top: -202px;
    width: 241px;
  }
  
  @keyframes carmove{
    0%{
      transform: translateY(0px);
    }
    25%{
      transform: translateY(1px);
    }
    29%{
      transform: translateY(2px);
    }
    33%{
      transform: translateY(3px);
    }
    47%{
      transform: translateY(0px);
    }
    58%{
      transform: translateY(1px);
    }
    62%{
      transform: translateY(2px);
    }
    66%{
      transform: translateY(3px);
    }
    75%{
      transform: translateY(1px);
    }
    100%{
      transform: translateY(0px);
    }
  }
  
  .carbody{
    animation: carmove 3.1s infinite linear;
    background: url('https://image.ibb.co/gwCbfy/car.png') 0 0;
    background-size: cover;
    height: 77px;
    position: relative; 
    width: 242px;
    z-index: 125;
  }
  @keyframes wheelmove{
     0%{
      transform: scale(0.5, 0.5);
    }
    25%{
      transform: scale(0.5, 0.49);
    }
    29%{
      transform: scale(0.5, 0.485);
    }
    33%{
      transform: scale(0.5, 0.48);
    }
    47%{
      transform: scale(0.5, 0.5);
    }
    58%{
      transform: scale(0.5, 0.49);
    }
    62%{
      transform: scale(0.5, 0.485);
    }
    66%{
      transform: scale(0.5, 0.48);
    }
    75%{
      transform: scale(0.5, 0.49);
    }
    100%{
      transform: scale(0.5, 0.5);
    }
  }
  .carwheel{
    animation: wheelmove 3.1s infinite linear;
    background: url('https://image.ibb.co/gwCbfy/car.png') -56px -152px;
    height: 86px;
    position: relative;
    top: -42px;
    width: 86px;
    z-index: 150;
    
  }
  .cw1{
    left: 8px;
  }
  .cw2{
    left: 68px;
  }
  
  @keyframes rotate{
   from{
      transform: rotate(0deg) scale(0.5);
    }
    to{
      transform: rotate(359deg) scale(0.5);
    }
  }
  
  .cardisk{
    animation: rotate 0.7s infinite linear;
    background: url('https://image.ibb.co/gwCbfy/car.png') -68px -240px;
    height: 59px;
    position: absolute;
    top: 49px;
    width: 59px;
    z-index: 200;
  }
  
  .cd1{
    left: 21px;
  }
  .cd2{
    left: 167px;
  }
  
  @keyframes shadowmove{
    0%{
      transform: scale(1, 1);
    }
    25%{
      transform: scale(1.01, 1.01);
    }
    29%{
      transform: scale(1.02, 1.02);
    }
    33%{
      transform: scale(1.025, 1.025);
    }
    47%{
      transform: scale(1, 1);
    }
    58%{
      transform: scale(1.01, 1.01);
    }
    62%{
      transform: scale(1.02, 1.02);
    }
    66%{
      transform: scale(1.025, 1.025);
    }
    75%{
      transform: scale(1.01, 1.01);
    }
    100%{
      transform: scale(1, 1);
    }
  }
  
  .carshadow{
    animation: shadowmove 3.1s infinite linear;
    border-radius: 50%;
    background: radial-gradient(rgba(62, 59, 59, 0.7) 1%, rgba(62, 59, 59, 0.65) 30%, rgba(108, 103, 103, 0.55) 85%, rgba(228, 214, 214, 0.1) 92%);
    height: 44px;
    margin: 0 auto;
    position: relative;
    top: -302px;
    width: 234px;
    z-index: 100;
  }
