/* styles used for cards in index.html */

/* Create four equal columns that floats next to each other */
.mycolumn {
    float: left;
    width: 20%;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 25px;
    transition: all .2s ease-in-out; 
  }

/* Clear floats after the columns */
.myrow:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .mycolumn  {
      width: 40%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .mycolumn  {
      width: 100%;
    }
  }
  
/* when hover grow */  
  .mycolumn:hover { 
  transform: scale(1.1); 
  }

  /* Responsive layout - makes all the columns with same hight in big screens */
  @media screen and (min-width: 900px) {
    .myrow  {
      display: flex;}
    .mycolumn{
      flex: 1;
    }
  }

  /* Responsive layout - makes two of the columns with same hight in big screens */
  @media screen and (max-width: 900px) and(min-width: 600px) {
    .myrow .mytworows  {
      display: flex;}
    .mycolumn {
      flex: 1;
    }
  }