/* styles used for cards in index.html */

/* Create four equal columns that floats next to each other */
.mycolumn {
    float: left;
    width: 20%;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 25px;
    transition: all .2s ease-in-out; 

    h2, p {
      color: black;
    }
  }

/* Clear floats after the columns */
.myrow:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
/* when hover grow */  
  .mycolumn:hover { 
  transform: scale(1.1); 
  }


.mygrid-container {
  display: grid;
  padding: 10px;
  gap: 10px 10px;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


/* Style the counter cards */
.mycard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 1em;
  text-align: center;
  background-size: cover;
  overflow: hidden;

}

.myblog-grid-container {
  display: grid;
  padding: 10px;
  gap: 10px 10px;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
}

.myblog-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 1em;
  text-align: center;
  background-size: cover;
  overflow: hidden;
  display: grid;
  grid-template-columns: 20% 1fr ;
  

  .myarchive__item-teaser {
    grid-column: 1 ;
    grid-row: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    grid-column: 2;
  }

  p {
    grid-column: 2;
  }
}

.myintro {
  margin-bottom: 30px;

  button {
    border-radius: 40px;
    padding: 20px;
    border: 3px solid #00adb5;
    background-image: -webkit-linear-gradient(30deg, #00adb5 50%, transparent 50%);
    background-image: linear-gradient(30deg, #00adb5 50%, transparent 50%);
    background-repeat: no-repeat;
    -webkit-transition: background 300ms ease-in-out;
    background-size: 500px;
    transition: background 300ms ease-in-out;
    font-size: 20px;
    background-color: #252a34;
  }

  button:hover {
    background-position: 100%;
    color: #00adb5;
  }

}


/* for side bar */
.myactive {
  color: black;
}



/* for pagebreaker include */
.display-section {
  display: none;
}

.show-now {
  display: block;
}

.pagebreaker-button-container {
  display: inline;
}

.pagebreaker-button-container > button:focus {
        outline: none;
      }

  #next, #back {
    display: inline-block;
    border-radius: 40px;
    background-color: #00adb5;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    color: #252a34;

  }
  
  .pagebreaker-button-container > button > span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #next span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #back span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
  }

  #next:hover span {
    padding-right: 25px;
  }

  #back:hover span {
    padding-left: 25px;
  }
  
  #next:hover span:after {
    opacity: 1;
    right: 0;
  }

  #back:hover span:after {
    opacity: 1;
    left: 0;
  }
  








  



/*=============================================================================================================================================================
media Query

==============================================================================================================================================================*/


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .mycolumn  {
    width: 100%;
  }
  .mygrid-container {
    grid-template-columns: 1fr;
  }
  .myblog-card {
    grid-template-columns: 1fr;

    .myarchive__item-teaser {
      grid-area: 1 / 1 ;
    }
    h1 {
      grid-area: 2 / 1;
    }
    p {
      grid-area: 3 / 1;
    }
  }
  
}


/* Responsive layout - makes all the columns with same hight in big screens */
@media screen and (min-width: 900px) {
  .myrow  {
    display: flex;}
  .mytworow {
    flex: 1;
    display: flex;
  }
  .mycolumn{
    flex: 1;
  }
}

/* Responsive layout - makes two columns two rows with same hight in medium screens */
@media screen and (min-width: 600px) and (max-width: 900px) {
.myrow  {
  display: table;}
.mytworow {
  display: flex;
}
.mycolumn{
  flex: 1;
  width: 40%;
}
.mygrid-container {
  grid-template-columns: 1fr 1fr;
}
}  



