---
layout: posts
title: Treasure hunt එක පටන්ගමු.
date: 2023-05-02 06:17:10.000000000 +05:30
categories:
tags: []
hidden:true
author:
  login: TharakaJ
  email: tujayasena@gmail.com
  display_name: TharakaJ
  first_name: ''
  last_name: ''

sidebar:
  nav: pac-man-tressure-hunt

---
<p><span>මේක පටන් ගන්න මුලින්ම කරන්න තියෙන්නෙ Pac-Man ghost ලා ටික නිදහස් කරන file එක download කරගන්න. </span></p>
<p><span>Note: මේ file එකේ එහෙම ඇත්ත virus නෑ. මේක raspberry pi official website එකෙන් මේ game එකටම හදපු file එකක්.</span></p>
<p><span>Terminal එකේ ඔයාට ලේසියෙන්ම files download කරල ඒවා open කරන්න පුලුවන් bash පාවිච්චි කරල. Bash කියන්නෙ ඔයාගෙ command එක අහල කියන දේ කරන programme එකක්. Hacker කෙනෙක් වෙන්න මේ command පුලුවන් වෙන එක සෑහෙන වටිනවා.</span></p>
<p><span>Terminal එක open කරන්න. ඔයාට $ සලකුණක් පේන්න තියෙයි. ඒතමා shell prompt එක. ඒක පේනවා කියන්නේ terminal එක command එකක් ගන්න ලෑස්තියි කියල.<img src="{{ site.baseurl }}/static/2023/05/command-prompt.png" /></span></p>
<p><span>$ ට එහා පැත්තෙන් පහල තියෙන command එක type කරන්න.(නැත්තම් copy කරල paste කරන්න.)</span></p>
{% include copy.html content="wget -O - https://rpf.io/pacmanstart | bash" %}
<p><span>Enter එක ඔබන්න. වචන ගොඩාක් terminal එකේ පෙනෙයි. ඒ download වෙනව සහ files එක execute වෙනවා කියන්න.<img src="{{ site.baseurl }}/static/2023/05/pac-man_start.png" /></span></p>
<p><span>Note: අන්තිමට තියෙන | bash command එක download කරපු file එක එතෙනින්ම run කරන්න කියන්වා. සාමන්‍යයෙන් එහෙම කරන්න එපා කියනවා මොකද download උනේ මොකක්ද කියල බලන්න කලින් ඒක run වෙන නිසා. එතොකට virus එකක් open වෙන්න ඉඩකුත් තියෙනවානෙහ්.</span><br /><span>ඒත් අපි මෙතන ඒක පාවිච්චි කරනවා ලේසියෙන්ම අපේ treasure hunt එක පටන් ගන්න. </span></p>
<p><span>Files එක run වෙලා ඉවර වෙලා command prompt එක ආයෙ පේන්න ගත්තම ctrl + l ඔබලා terminal එක clear කරගන්න. (නැත්තම් terminal එකේ clear කියල type කරල enter කරන්න)</span></p>
<p><span>දැන් තියෙන්නෙ maze එක පුරා ගිහින් ghostලා ඔක්කොම අල්ලගන්න.</span></p>

{% include linking-several-pages.html %}