---
layout: myarchive
classes: wide

---

{{ content }}


{% capture tag %}{{ page.title | downcase }}{% endcapture %}
{% if page.categories == "si" %}
    {% assign both_posts = site.tags[tag] %}
    {% assign posts = both_posts | where: "categories", "si" %}

{% else %}
    {% assign both_posts = site.tags[tag] %}
    {% assign siposts = both_posts | where: "categories", "si" %}
    {% assign posts = site.tags[tag] | shift siposts %}
{% endif %}
<div class="mygrid-container">

{% for post in posts %}
    {% if post.header.overlay_image %}
        {% assign image = post.header.overlay_image %}
    {% else %}
        {% capture image %}{{ site.teaser }}{% endcapture %}
    {% endif %}
        
        <div class="mycard" onclick="location.href='{{ post.url | relative_url }}'">
              <div class="myarchive__item-teaser"><img src='{{ image | relative_url }}'></div>
              <h1 class=".myarchive__item-title">{{ post.title | escape }}</h1>
            <p style="font-size: 80%;" class="myarchive__item-excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }} </p>
        </div>
        
    
{% endfor %}
</div>
