---
layout: archive
classes: wide

---

{{ content }}


{% capture category %}{{ page.categories | first }}{% endcapture %}

    {% assign posts = site.tags[category] %}
<div class="mygrid-container">

{% for post in posts %}
   
        
        <div class="mycard" onclick="location.href='{{ post.url | relative_url }}'">
            <div>
              <div class="archive__item-teaser"><img src='{{ post.header.overlay_image | relative_url }}'></div>
              <h1 class=".archive__item-title">{{ post.title | escape }}</h1>
            <p style="font-size: 80%;" class="archive__item-excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }} </p>
            </div>
        </div>
        
    
{% endfor %}
</div>
